In [ ]:
#initial_libraries
import pandas as pd
import numpy as np
from numpy import nan as NA
import random
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
import re
from math import radians, sin, cos, asin, sqrt
import folium
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.cluster import KMeans

In [ ]:
initial_data5 = pd.read_csv('/content/initial_data5_first_try')
initial_data5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10928 entries, 0 to 10927
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sale_Type                10928 non-null  int64
 1   featuredLevel            10928 non-null  int64
 2   numBedrooms              10928 non-null  float64
 3   shared_or_not            10928 non-null  int64
 4   number_of_posts          10928 non-null  int64
 5   propertySize_m           10928 non-null  float64
 6   cleaned_price_per_month  10928 non-null  float64
 7   sph_dist                 10928 non-null  float64
 8   days_on_site             10928 non-null  int64
 9   Ber_Rating               10928 non-null  float64
 10  is_commercial            10928 non-null  int64
 11  sections_2               10928 non-null  int64
 12  to_monitor_km            10928 non-null  float64
 13  max_noise                10928 non-null  float64
 14  latitude                 10928 non-null  float64
 15  longitude                10928 non-null  float64
 16  cluster                  10928 non-null  int64
dtypes: float64(9), int64(8)
memory usage: 1.4 MB

In [ ]:
dublin_map = folium.Map(location=[53.349805, -6.26031], zoom_start=12)

# Add markers to the map using coordinates from the dataset
for idx, row in initial_data5.iterrows():
    if row['cluster'] == 0:
      color = "orange"
    elif row['cluster'] == 1:
      color = "yellow"
    elif row['cluster'] == 2:
      color = "green"
    elif row['cluster'] == 3:
      color = "blue"
    elif row['cluster'] == 4:
      color = "purple"
    folium.Marker(
        location=[row['latitude'], row['longitude']],
        icon=folium.Icon(color=color, icon="info-sign")
    ).add_to(dublin_map)

# Save the map as an HTML file
#dublin_map.save("cluster_estate_map.html")

# If you're in a Jupyter Notebook, display the map inline
dublin_map